@font-face {
  font-family: "Fregat";
  src: url("fonts/Fregat_bold.eot");
  src: local("☺"), url("fonts/Fregat_bold.woff") format("woff"),
    url("fonts/Fregat_bold.ttf") format("truetype"),
    url("fonts/Fregat_bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  width: 100%;
}
.content {
  flex: 1 0 auto;
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Fregat", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 750px;
}
:root {
  --main-text-color: #555555;
  --color: #1a09c9;
}
header {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  flex: 0 0 auto;
  width: 100%;
}
footer {
  background: #f2f2f2;
  padding: 25px 0 75px 0;
  margin-bottom: 0;
  flex: 0 0 auto;
}
article {
  color: var(--main-text-color);
}
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
.text-uppercase {
  text-transform: uppercase;
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: space-around;
}
.main-menu a {
  display: block;
  padding: 0;
  text-decoration: none;
  padding: 0 14px;
  color: var(--color);
}
.menu-item:hover {
  opacity: 0.5;
}
.menu-item:first-child {
  margin-left: -13px;
}
main {
  padding-top: 47px;
  padding-bottom: 96px;
  width: 100%;
}
.breadcrumbs {
  margin: 0 0 10px;
  padding: 0;
}
.navigation-menu-item {
  display: inline-block;
}
.breadcrumbs a {
  color: var(--main-text-color);
}
.navigation-menu-item + .navigation-menu-item::before {
  content: "→";
  padding: 0px 4px 0px 3px;
}
.style-cell {
  vertical-align: middle;
  color: var(--main-text-color);
  box-sizing: border-box;
  padding: 6px 7px 6px 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.actives {
  height: 28px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #555555;
  border-radius: 20px;
}
.actives a{
  color: var(--main-text-color);
}
.main-content .active {
  font-size: 16px;
  font-family: "Fregat";
}
.logo {
  margin-bottom: 71px;
}
.logo-image {
  margin-left: 2px;
  margin-top: 7px;
  margin-right: 28px;
}
.logo-text {
  position: relative;
}
.logo-text,
.logo-image {
  display: inline-block;
  vertical-align: text-top;
}
.logo-text .big {
  line-height: normal;
  font-family: "Fregat";
  font-size: 48px;
  display: block;
  color: var(--main-text-color);
  margin: 0;
  width: 310px;
}
.small {
  display: block;
  margin: 0;
  padding-left: 2px;
  text-transform: none;
}
h2 {
  margin: 0;
  font-size: 30px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.header-search {
  position: relative;
  width: 219px;
}
.header-search button {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: transparent;
  color: transparent;
  height: 35px;
  width: 36px;
  cursor: pointer;
  background: url(lypa.gif) center no-repeat;
}
.header-search .input-line {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 33px;
  padding-top: 3px;
  padding-left: 9px;
  padding-right: 35px;
  border-radius: 20px;
  width: 100%;
  background: #fff;
  font: 12px Arial, sans-serif;
  color: var(--main-text-color);
  border: none;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2),
    inset 0 1px 1px rgba(0, 0, 0, 0.9);
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 12px;
}
.copyright p {
  margin: 0;
  padding: 3px 0 0 0;
}
.main-content {
  margin-top: 67px;
  display: table;
}
.main {
  display: inline-block;
}
.column {
  width: 159px;
  text-align: left;
}
.text-style {
  font: 12px Arial, sans-serif;
}
.field {
  display: flex;
  align-items: center;
}
.field input[type="checkbox"] {
  margin-right: 10px;
  border-style: solid;
  height: 33px;
}
.main-content .field {
  padding-bottom: 17px;
  font-size: 12px;
  vertical-align: middle;
}
.add-button {
  border-radius: 30px;
}
.main-content textarea {
  resize: none;
  border-radius: 5px;
  height: 173px;
  box-sizing: border-box;
}
.main-content input[type="submit"] {
  padding: 16px 71px 14px 71px;
  background: white;
  border: 1px solid #1a09c9;
  color: var(--color);
  font-weight: bold;
}
.main-content input[type="submit"]:hover {
  background-color: #1a09c9;
  color: white;
}
.style-cell {
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 1px 0 0 rgba(0, 0, 0, 0.1);
  font-size: 12px;
}
.wide-line {
  width: 462px;
  box-sizing: border-box;
  height: 30px;
}
.narrow-line {
  width: 302px;
  box-sizing: border-box;
  height: 33px;
}
.field-button {
  display: flex;
  padding: 26px 0px 0px 0px;
}
.field-button .column {
  width: 161px;
}
.field-style {
  align-items: baseline;
}
.field-button:last-child::before {
  width: 161px;
  content: "";
}


