@font-face {
  font-family: "FregatBold";
  src: url("../fonts/FregatBold/FregatBold.eot");
  src: url("../fonts/FregatBold/FregatBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/FregatBold/FregatBold.woff") format("woff"),
  url("../fonts/FregatBold/FregatBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Fregat";
  font-weight: bold;
}
:root {
  --main-color: #555555;
}
header {
  border: 1px solid #f2f2f2;
  padding: 0;
  margin: 0;
  background: #f2f2f2;
}
footer {
  background: #f2f2f2;
  padding: 25px 0 75px 0;

  margin-bottom: 0;
}
article {
  padding-bottom: 38px;
  color: var(--main-color);
}

.side-indents {
  padding-right: 17%;
  padding-left: 12.5%;
}
.text-uppercase {
  text-transform: uppercase;
}
.header-menu ul,
.menu-footer {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.path-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-bottom: 1px;
}
.header-menu ul a,
.menu-footer a {
  display: block;
  padding: 0;
  color: #1a09c9;
  text-decoration: none;
}
.header-menu ul a {padding-top: 7px}
.path-navigation a {
  display: block;
  padding: 4px 0px;
  color: var(--main-color);
}
.path-navigation li {
  display: inline-block;
  padding-right: 7px;
}
.path-navigation li:nth-child(2){padding-top: 3px;}
.header-menu ul li{
  display: inline-block;
  padding-right: 28px;
  text-transform: uppercase;
}
.menu-footer li {
  display: inline-block;
  padding-right: 28px;
  text-transform: uppercase;
}
.header-menu ul {

  padding-top: 5px;
}
.header-menu li:nth-child(3) {
  padding-right: 15px;
}
/* .for label {
	font-size: 12px;
} */
input {
  vertical-align: middle;
  padding: 5px 5px 9px 5px;
}
.add-product input[type="submit"] {
  padding: 6px 5px 4px 5px;
  background: rgba(0, 0, 0, 0);
  color: var(--main-color);
  border: 1px solid #555555;
  border-radius: 20px;
  margin: auto;
  width: 183px;
  font-weight: bold;
  font-family: "Fregat";
  font-size: 16px;
}
.menu-head {
  display: flex;
  justify-content: space-between;
}
.main-content .active {
  font-size: 16px;
  font-family: "Fregat";
}
.logo {
  padding-bottom: 67px;
}
.logo-image {
  padding-left: 2px;
  padding-top: 52px;
  padding-right: 28px;
}
.logo-text {
  position: relative;
}
.logo-text,
.logo-image {
  display: inline-block;
  vertical-align: top;
}
.logo-text a {
  text-decoration: none;
}

.logo-text a:visited {
  color: var(--main-color);
}
.logo-text h1 {
  margin: 0;
  padding-top: 45px;
}
.logo-text .big {
  letter-spacing: px;
  line-height: normal;
  font-family: "Fregat";
  font-size: 24px;
}
.small p {
  margin: 0;
  padding-left: 2px;
  text-transform: none;
}
h2 {
  margin: 0;
  padding-top: 5px;
  font-size: 30px;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.searching-line {
  width: 23%;
  position: relative;
  padding-right: 11px;
  padding-top: 4px;
}
.searching-line input {
  border: none;
}
.searching-line .input-line {
  width: 100%;
  padding: 10px 24px 10px 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2),
    inset 0 2px 1px rgba(0, 0, 0, 0.9);
  border-radius: 14px;
  background: #fff;
  font: 12px Arial, sans-serif;
  color: var(--main-color);
  outline: none;
  opacity: 0.5;
}
.searching-line .input-line:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),
    inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #fff;
  color: #333;
}
.searching-line .magnifier {
  position: absolute;
  top: 13px;
  right: 18px;
  width: 17px;
  height: 20px;
  cursor: pointer;
  opacity: 1;
}
.searching-line .magnifier:hover {
  opacity: 0.8;
}
input[type="search"] {
  -webkit-appearance: none;
}
.searching-line input {
  padding-top: 20px;
}
.searching-line .magnifier {
  background: url(lypa.gif) no-repeat;
}
.header {
  display: flex;
  justify-content: space-between;
}
.navi-footer {
  margin-left: 2px;
  display: inline-block;
}
.copyright p {
  margin: 0;
  padding: 3px 12px 0 0;
}
.header-content {
  padding: 11px 0;
}
.main-content {
  padding-bottom: 41px;
  padding-top: 67px;
  padding-left: 1px;
  margin: 0px auto;
}
.main-content label,
.main-content input [type="checkbox"] {
  width: 150px;
  text-align: left;
}
.checkbox-line {
  width: 150px;
}
.text-arial {
  font: 12px Arial, sans-serif;
}
.field {
  display: flex;
  align-items: center;
}
select {
  color: var(--main-color);
}
select option {
  font-size: 12px;
}
.input-line-1 label {
  padding-bottom: 4px;
}
.input-line-2 label {
  padding-bottom: 7px;
}
.input-line-3 select {
  color: var(--main-color);
  margin-left: 9px;
}
.input-line-4 label input[type="checkbox"] {
  margin-right: 10px;
  border-style: solid;
}
.filed .input-line-6 {
  padding-top: 10px;
}

.main-content .field {
  padding-bottom: 21px;
  font-size: 12px;
  vertical-align: middle;
}
.add-button {
  border-radius: 30px;
}
.main-content textarea {
  border-radius: 5px;
  height: 165px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),
    inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
.main-content select {
  border-radius: 5px;
  padding: 7px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),
    inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
.main-content input[type="submit"] {
  padding: 16px 71px 14px 71px;
  background: white;
  border: 1px solid #1a09c9;
  color: #1a09c9;
  font-weight: bold;
}
.main-content input[type="submit"]:hover {
  background-color: #1a09c9;
  color: white;
}
.style-cell {
  border-color: white;
  background: #f6f6f6;
  border-radius: 5px;
}
.main-content .input-line-2 {
  padding-bottom: 17px;
}
.input-line-3 label {
  padding-bottom: 4px;
}
.input-line-4 label {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 8px;
}
.input-line-4 input[type="checkbox"] {
  margin: 0;
}
.main-content .input-line-5 {
  padding-bottom: 30px;
  align-items: end;
  padding-bottom: 42px;
}
.input-line-5 label {
  padding-top: 7px;
}
.input-line-6 {
  padding-left: 151px;
}
.field input,
.field textarea {
  margin-left: 9px;
}
.cell-1 {
  width: 448px;
}
.cell-2 {
  width: 291px;
}
.cell-3 {
  width: 302px;
}
.cell-4 {
  width: 460px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
  /*============ Способ 1 - абсолютное позиционирование =============*/
  html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
.content{
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}
footer{
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}